/vendor
/node_modules
/package-lock.json
tests/Browser/Screenshots/
/.phpunit.cache
/build
/.env
/workbench/database/database.sqlite
/workbench/public
/workbench/vendor
/workbench/storage/*
!/workbench/storage/app
!/workbench/storage/framework
!/workbench/storage/framework/cache
!/workbench/storage/framework/sessions
!/workbench/storage/framework/testing
!/workbench/storage/framework/views
!/workbench/storage/logs
!/workbench/storage/**/.gitignore
