* text=auto eol=lf

/resources/dist export-ignore
/tests export-ignore
/.github export-ignore
/.planning export-ignore
/workbench export-ignore
/packages export-ignore
/docker-compose.yml export-ignore
/testbench.yaml export-ignore
/phpunit.xml.dist export-ignore
/phpstan.neon export-ignore
/pint.json export-ignore

